/**
 * Main WooCommerce styles
 */

.wrap {
  &.container {
    @extend .section;
  }
}

.page-header {
  h1 {
    @extend .title, .is-1;
  }
}

.onsale {
  @extend .has-background-info, .has-text-centered;

  position: absolute;
  color: $white;
  background-color: $blue;
  height: $size-2;
  width: $size-2;
  border-radius: $radius-rounded;
  font-size: $size-7;
  line-height: $size-2;
  font-weight: $weight-bold;
  margin: $size-7;
}

span.price,
p.price {
  color: $black;
  font-size: $size-6;
  line-height: $size-3;

  ins {
    font-weight: $weight-bold;
  }
}

p.stock {
  font-size: $size-6;
}

.stock {
  color: $black;
}

.out-of-stock {
  color: $red;
}

input {
  @extend .input;
}

table {
  @extend .table, .is-striped;
}

.remove {
  @extend .is-medium, .delete;
}
