/**
* Product loops WooCommerce styles
*/

ul {
  &.products {
    @extend .columns;
    @extend .is-multiline;

    li {
      @extend .column;
      @extend .is-one-quarter;

      @include mobile {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
      }
    }
  }

  .button {
    @extend .is-pulled-right;

    margin-right: $size-6;

    @include mobile {
      margin: 10px 0 0 0;
    }
  }
}

span.woocommerce-Price-amount {
  text-decoration: none;
}

.woocommerce-ordering {
  @extend .select;
  @extend .mb-3;
}

//Pagination
.woocommerce-pagination {
  @extend .pagination, .is-centered;

  .page-numbers {
    @extend .pagination-list;

    li {
      @extend .is-inline;

      margin: 2px;

      span.current {
        background-color: $pagination-current-background-color;
        color: $pagination-current-color;
        border-color: $pagination-current-border-color;
      }
    }

    a,
    span {
      @extend .pagination-link;

      &:link,
      &:visited {
        @extend .pagination-link;
      }
    }
  }
}
